Flask==1.0
Flask-RESTful==0.2.11
Jinja2==2.7.2
MarkupSafe==0.18
Pillow==9.3.0
Werkzeug==0.15.3
aniso8601==0.82
argparse==1.2.1
boto==2.25.0
gunicorn==19.5.0
#ipdb==0.8
#ipython==1.2.0
itsdangerous==0.23
pymongo==2.6.3
pytz==2013.9
requests==2.20.0
six==1.5.2
wsgiref==0.1.2
