{% extends "index.html" %}

{% block active_home %}class="active"{% endblock %}


{% block container %}
<div class="starter-template">
    <h1>Your Face in History</h1>
    <p class="lead">Discover what century and painting style your face belongs to!</p>
    <p>
    <!-- Video element (live stream) -->
    <label>Video Stream</label>
    <video autoplay id="video" width="640" height="480"></video>

    <!-- Canvas element (screenshot) -->
    <label>Screenshot (base 64 dataURL)</label>
    <canvas id="canvas" width="640" height="480" style="display: none;"></canvas>

    <!-- Capture button -->
    <button id="capture-btn">Capture!</button>

    <!-- Image URL output -->
    <label>Image URL</label>
    <input type="text" id="image-url-input" disabled>
    </p>
</div>
{% endblock %}


{% block extra_scripts %}
<script type="text/javascript" src="{{ url_for("static", filename="js/main.js") }}"></script>
{% endblock %}
