{% extends "index.html" %}

{% block active_home %}class="active"{% endblock %}


{% block container %}
<div class="starter-template">
    <h1>Your Face in History</h1>
    <p class="lead">Discover what century and painting style your face belongs to!</p>
    <p>
    <!-- Video element (live stream) -->
    <video autoplay id="video" width="640" height="480"></video>
    <!-- Canvas element (screenshot) -->
    <canvas id="canvas" width="640" height="480" style="display: none;"></canvas>
    </p>
    <p>
    <!-- Capture button -->
    <button id="capture-btn" class="btn btn-lg btn-primary">Shot!</button>
    </p>
</div>
{% endblock %}


{% block extra_scripts %}
<script type="text/javascript" src="{{ url_for("static", filename="js/main.js") }}"></script>
{% endblock %}
