{% extends "index.html" %}

{% block extra_meta %}
{{ super() }}
    {% if photo_url %}
    <meta property="og:image" content="{{ photo_url }}" />
    {% else %}
    <meta property="og:image" content="http://projects.cultureplex.ca/faces/101.png" />
    {% endif %}
{% endblock %}

{% block active_home %}class="active"{% endblock %}


{% block container %}
<input type="hidden" id="photo-id" value="{{ photo_id }}"></input>
<div class="starter-template">
    <h1>Your Face in History</h1>
    <p class="lead">Discover what century and painting style your face belongs to!</p>
    <p>
    <!-- Video element (live stream) -->
    <video autoplay id="video" width="640" height="480"></video>
    <!-- Canvas element (screenshot) -->
    <div id="canvas-container">
        <canvas id="canvas" width="640" height="480" style="display: none;"></canvas>
    </div>
    </p>
    <p>
        <div id="results"></div>
    </p>
    <p>
    <!-- Capture button -->
    <div class="progress progress-striped active" id="progress-bar" style="display: none;">
        <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only">Analyzing...</span>
        </div>
    </div>
    <div class="alert alert-danger" id="message" style="display: none;"></div>
    <button id="capture-btn" class="btn btn-lg btn-primary">Shot!</button>
    <button id="tryagain-btn" class="btn btn-lg btn-warning" style="display: none;">Try Again</button>
    </p>
    <p>
    <a id="share-this" href="" target="_blank" class="btn btn-default btn-xs">
        <img class="img" src="https://fbstatic-a.akamaihd.net/rsrc.php/v2/yQ/r/7GFXgco-uzw.png" alt="" style="top: 0px;" width="14" height="14">
        Share
    </a>
    </p>
</div>
{% endblock %}


{% block extra_scripts %}
<script type="text/javascript" src="{{ url_for("static", filename="js/main.js") }}"></script>
{% endblock %}
